<div class=" items-center px-5 lg:px-20">
  <div class="flex flex-col w-full max-w-md p-5 mx-auto my-3 transition duration-500 ease-in-out transform bg-white rounded-lg md:mt-0">
    <div class="text-center">
      <h1 class="mt-6 text-3xl font-extrabold text-neutral-600"><%= current_user.name %>のラベル作成</h1>
      <div class="relative my-4 w-full border-t border-gray-300"></div>
      <%= form_with model: @label, url: user_task_labels_path(current_user.id, @task.id), method: :post, local: true do |f| %>
        <%= f.text_field :name, placeholder: "ラベル名", class: "block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 my-7" %>
        <%= f.submit "作成", class: "flex items-center justify-center w-full px-10 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
      <% end %>
      <div class="relative my-6 w-full border-t border-gray-300"></div>
      <%= link_to "戻る", edit_user_task_path(current_user.id, @task.id), class: "justify-center px-6 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
      <div class="relative mt-6 mb-3 w-full border-t border-gray-300"></div>
      <% @labels.where.not(id: false).each do |label| %>
        <p class="text-lg font-medium text-neutral-600 p-2">
          <%= label.name %>
          <%= button_to "削除", user_task_label_path(current_user.id, @task.id, label.id), { method: :delete, class: "justify-center px-6 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-red-500 rounded-xl hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" } %>
          <div class="relative my-4 border-t border-gray-300"></div>
        </p>
      <% end %>
    </div>
  </div>
</div>
