<!DOCTYPE html>
<html>
  <head>
    <title>ElTraining</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <header class="z-50 fixed top-0">
      <%= render "layouts/header" %>
    </header>
    <%= render "layouts/flash" %>
    <div class="pt-[48px] z-3">
      <%= yield %>
    </div>
  </body>
</html>

<script>
  let win
  const openWindow = () => {
    win = window.open("https://google.com")
  }

  const closeWindow = () => {
    win.close()
  }
  </script>
